{% extends "../layouts/base.twig" %}

{% block style %}
    <link rel="stylesheet" href="./css/main.css">
{% endblock %}

{% block main %}
    <p>Bonjour {{ user.firstName }}</p>
{% endblock %}

{% block script %}
    <script></script>
{% endblock %}